@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&display=swap');
/* Top Bar */
.top-bar {
  background-color: #474747;
  color: #fff;
  padding: 10px 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.contact-info span {
  margin-right: 20px;
}

.contact-info span i {
  margin-right: 8px;
}

.social-icons a {
  color: #fff; /* Icônes en noir */
  margin-left: 10px;
  font-size: 16px;
  text-decoration: none;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 130px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 50px;
  margin-right: 10px;
}

.logo-text {
  font-family: 'Playfair Display', serif !important;
  font-size: 30px !important;
  font-style: italic !important;
  font-weight: 600 !important;
  color: #474747 !important;
}

.media {
  background-color: #F9F9F71F;
  padding: 10px;
  border-radius: 100%;
}

.px{
  padding-left: 13px;
  padding-right: 13px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links li a {
  text-decoration: none;
  color: #2C2F24;
  font-size: 16px;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #666;
}

.nav-links li a.active {
  background-color: #d3d3c3;
  padding: 5px 15px;
  border-radius: 20px;
}

.btn-book {
  border: 2px solid #2C2F24;
  padding: 8px 20px;
  border-radius: 20px;
  text-decoration: none;
  color: #2C2F24;
  font-size: 16px;
  transition: background 0.3s ease, color 0.3s ease;
}

.btn-book:hover {
  background-color: #2C2F24;
  color: #fff;
}

/* Responsive Design */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .nav-links {
    flex-direction: column;
    text-align: center;
    gap: 15px;
  }

  .btn-book {
    margin-top: 10px;
  }

}

